:root {
  --grid-size: 1;
  --bg-color: #000;
  --border-color: rgb(226, 226, 226);
}

button{

}

#button-holder{
  width: 800px;
  height: 40px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(250, 74, 62);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#button-left{
  margin-right: 20px;

}

#button-center{
  margin-left: 155px;
  margin-right: auto;

}

#button-right{
  margin-left: 20px;

}

#holder{
  min-width: 960px;
  min-height: 900px;

  background: rgb(255, 254, 245);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#container{  
  width: 840px;
  height: 840px;

  box-shadow: 10px 10px 5px rgb(201, 201, 201);

  display: inline-grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  
}

.square{
  width: auto;
  height: auto;

  border: 1px solid rgb(226, 226, 226);
  background: white;

}

.square-over{
  width: auto;
  height: auto;

  border: 1px solid var(--border-color);
  background: var(--bg-color);

}